@model ForgotPassword_VM
@{
    Layout = "_ForgotpasswordLayout";
}
<title>فراموشی رمز عبور</title>

<h1 style="direction:rtl">Forgot Password</h1>

<hr />
<div class="row" style="direction:rtl">
    <div class="col-md-12">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (ViewBag.IsSent == true)
            {
                <div class="alert alert-success">
                    Reset Password Email Sent !
                </div>
            }
            <div class="form-group">
                <label asp-for="Email" class="control-label">ایمیل خود را وارد کنید</label>
                <input asp-for="Email" type="email" class="form-control" style="width:300px" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Send Confirmation" class="btn btn-success" />
            </div>
        </form>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
