<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/My_Firsrt_CRUD.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav style="font-size:22px;" class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-3">
            <a class="nav-link text-dark p-0" asp-controller="Product" asp-action="Products">
                صفحه اصلی
            </a>

            <a class="nav-link text-dark p-0" asp-controller="Product" asp-action="Categories">
                دسته بندی ها
            </a>
            @if(ViewBag.IsEmailConfirmed == false){
               <a class="nav-link text-dark p-0" asp-controller="Account" asp-action="EmailConfirmed" >
                   تایید ایمیل
               </a>
            }
            <form asp-controller="Account" asp-action="LogOut" method="post" class="m-0">
                <button type="submit" class="btn btn-link nav-link">
                    خروج
                </button>
            </form>
                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Home</a>
                         </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 1405 - My_Firsrt_CRUD 
            <!-- <a asp-area="" asp-controller="Product" asp-action="Privacy">Privacy</a> -->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>